$search-img: url('../../../../assets/images/search_icon.svg');
$clear-img: url('../../../../assets/images/clear_icon.svg');

.app-search {}

.app-search__main {}

.form {
  display: flex;
}

.form__field {
  flex: 1;
}

.form__button {
  margin-left: 6px;
}

.field {
  position: relative;
  display: flex;
  width: 100%;
}

.field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 18px;
  height: 18px;
}

.field__icon_search {
  background: $search-img no-repeat;
}

.field__icon_left {
  left: 16px;
}

.field__icon_clear {
  background: $clear-img no-repeat;
}

.field__icon_right {
  right: 14px;
}

.field__icon_hidden {}

.field__input {

  width: 100%;
  padding: 12px 44px;
  outline: none;

  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #5C5E5F;

  border: 1px solid #EFEFEF;
  box-shadow: 0 1px 0 0 #0000001c,inset 0 1px 3px 0 #0000007d;
  border-radius: 3px;

  &:focus {
    color: #373F45;
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #0000001c,inset 0 1px 3px 0 #000000b0;
  }

  &:not(:focus) ~ .field__icon_hidden {
    visibility: hidden;
  }
}

.button {
  background-image: linear-gradient(180deg, #ededed 0%, #d9dadb 100%);
  box-shadow: 0 2px 0 0 #00000024, inset 0 1px 1px 0 #FFFFFF;
  padding: 0 24px;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;

  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #373F45;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  background-image: linear-gradient( 180deg, #f6f6f6 0%, #e6e7e8 100%);
  box-shadow: 0 1px 4px 0 #626262;

}


