<div class="article">

    <h1 class="article__heading">
        Почему не рассматриваются заявки с жалобами на нарушение Правил игры?
    </h1>

    <div class="article__content">

        <p class="article-content__indent article-content__text">
            После введения функционала «Пожаловаться» не рассматриваются заявки, созданные в Центр поддержки
            пользователей о нарушении Правил игры по следующим пунктам:
        </p>

        <ol class="article-content__sections">

            <li><span class="article-content__sections_title">«Оскорбления и провокации»</span>

                <p class="article-content__text">
                    В данный пункт входит:<br>
                    - использование ненормативной лексики и оскорбление собеседников, применение унизительных кличек и
                    прозвищ по расовому, национальному, религиозному либо половому признаку, а также провоцирование
                    собеседника к их использованию;<br>
                    - клевета, размещение заведомо ложной информации об Игре,
                    Администрации, Модераторах или Пользователях;<br>
                    - угрозы реальной расправы в отношенииили представителей Администрации Проекта. Все виды соглашения.
                </p>

            </li>

            <li><span class="article-content__sections_title">«Неинформативные сообщения»</span>

                <p class="article-content__text">
                    В данный пункт входит:<br>
                    - размещение информации (сообщения, фразы, символов и пр.), направленной на отвлечение
                    Пользователей от темы беседы (флуд);<br>
                    - все виды рекламных сообщений, в частности ссылки на интернет-ресурсы.
                </p>

            </li>

        </ol>

        <p class="article-content__indent article-content__text">

            Также не рассматриваются следующие заявки, созданные в Центр поддержки пользователей о нарушении Правил
            игры:

        </p>

        <ol start="3" class="article-content__sections">

            <li>
                <span class="article-content__sections_title">«Раскрытие позиций союзников»</span>
            </li>

            <li>
                <span class="article-content__sections_title">«Выталкивание союзника»</span>
            </li>

            <li>
                <span class="article-content__sections_title">«Неспортивное поведение»</span>
            </li>

            <li>
                <span class="article-content__sections_title">«Повреждение союзников»</span>
            </li>

        </ol>

    </div>

</div>
