<header class="app-list">

    <div class="tags" tabindex="1">

        <div class="tag">

            <input class="tag__input" type="radio" name="radio" id="1">

            <label class="tag__label" for="1">World Of Tanks</label>

        </div>

        <div class="tag">

            <input class="tag__input" type="radio" checked="checked" name="radio" id="2">

            <label class="tag__label" for="2">World Of Warplanes</label>

        </div>

        <div class="tag">

            <input class="tag__input" type="radio" name="radio" id="3">

            <label class="tag__label" for="3">World Оf Warships</label>

        </div>

    </div>

</header>
